<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

<style>

body {

background-image: url('https://image.freepik.com/free-vector/open-book-with-mystic-bright-light-goose-feather-dark-background-magic-poster-illustration_149267-887.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size:100% 100%;

}

</size>

</head>

<body bgcolor="teal blue">
<br>
    <h1 align="center">Happy To Have You Here, {{name}} !</h1>
    <a href="{{ url_for('login') }}">Login Page</a><br>
    <a href="{{ url_for('register') }}">Register Page</a><br>

</body>

</html>	
